# SQL Server Configuration
SPRING_DATASOURCE_URL=jdbc:sqlserver://inspection-db-server.database.windows.net:1433;databaseName=inspection_db;encrypt=true;trustServerCertificate=false;hostNameInCertificate=*.database.windows.net;loginTimeout=30;
SPRING_DATASOURCE_USERNAME=julie
SPRING_DATASOURCE_PASSWORD=suasenha

# Azure Storage
AZURE_STORAGE_CONNECTION_STRING=SuaConnectionStringAqui
AZURE_STORAGE_CONTAINER_NAME=inspectionsB200244
